@use './variables.scss'as *;
@import './reset.scss';


:root {
    background-color: $light-gray-color;
    color: $dark-gray-color;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    ;
}