/* цвета */
$light-bg-color: #f8f8f8;
$primary-color: #4600e9;

/* тени */
$box-shadow: 0 2px 4px rgb(197 197 197 / 50%);
$hover-box-shadow: 0 4px 8px rgb(197 197 197 / 60%);
$focus-box-shadow: 0 0 0 0.1875rem rgb(119 0 255 / 30%);