@use '../../../../app/styles/variables.scss'as *;

.title {
    color: $primary-color;
    size: 0.4rem;
    text-transform: uppercase
}

.body {
    padding: 0, 2rem;
    size: 0.8rem;

    &::first-letter {
        text-transform: uppercase;
    }
}

.actionButton {
    place-content: flex-end flex-end;
    border-bottom: $light-divider;
    display: flex;
    gap: 0.5rem;
    padding: 0.2rem;
}