@use '../../../../app/styles/variables.scss'as *;

.newsCard {
    padding: 1rem;
}

.title {
    color: $primary-color;
    size: 0.4rem;
    text-transform: uppercase
}

.body {
    border-bottom: $light-divider;
    size: 0.8rem;

    &::first-letter {
        text-transform: uppercase;
    }
}

.actionButton {
    align-items: center;
    border-bottom: $light-divider;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0.2rem;
}