.newsCard {
    padding: 1rem;
}

.title {
    /* TODO: переменная */
    color: #4600e9;
    size: 0.5rem;
    text-transform: uppercase
}

.body {
    size: 0.8rem;

    &::first-letter {
        text-transform: uppercase;
    }
}