@use '../../../styles/variables.scss'as *;

.authLayout {
    align-items: center;
    background: linear-gradient(135deg,
            $dark-purpule-color 0%,
            $primary-color 100%);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    background: $light-bg-color;
    border-radius: 10px;
    box-shadow: $box-shadow;
    max-width: 400px;
    padding: 40px;
    width: 100%;
}