.header {
    /* TODO: переменная */
    background-color: #f8f8f8;
    color: rgb(59 57 57);
    width: 100%;
}

.inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0.5rem;

    @media (width <=1024px) {
        padding: 0.4rem;
    }

    @media (width <=640px) {
        padding: 0.3rem;
    }
}

.leftFlex {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.logo {
    $size: 2.5rem;

    border-radius: 50%;
    flex-shrink: 0;
    height: $size;
    overflow: hidden;
    width: $size;

    img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.title {
    h1 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1;
        margin: 0;
        user-select: none;
        white-space: nowrap;

        @media (width <=640px) {
            font-size: 1.1rem;
        }
    }
}