.header {
    align-items: center;
    background-color: #53c5c5;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    font-size: 20px;
    font-Weight: bold;
}