@use '../../../app/styles/variables.scss'as *;

.link {
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transition-property: color, background-color, border-color, transform, box-shadow;
}

.primary {
    background-color: transparent;
    border: 0.1em solid transparent;
    color: $primary-color;
    transition:
        color 0.25s ease,
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.3s ease,
        transform 0.2s ease;
}

.primary:hover {
    box-shadow: $hover-box-shadow;
    color: $dark-gray-color;
    transform: translateY(-1px);
}

.secondary {
    background-color: transparent;
    border: 0.1em solid $primary-color;
    color: $dark-gray-color;
    transition:
        color 0.25s ease,
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.3s ease;
}

.secondary:hover {
    border-color: $primary-color;
    color: $primary-color;
    transform: translateY(-1px);
}

.error {
    background-color: transparent;
    border: 0.1em solid transparent;
    color: $error-color;
    transition:
        color 0.25s ease,
        background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.3s ease,
        transform 0.2s ease;
}

.error:hover {
    border-color: $dark-red-color;
    box-shadow: $hover-box-shadow;
    color: $error-color;
    transform: translateY(-1px);
}

.small {
    font-size: 1rem;
    padding: 0.2em 0.4em;
}

.medium {
    font-size: 1.2rem;
    padding: 0.333em 0.667em;
}

.large {
    font-size: 1.5rem;
    padding: 0.4em 0.8em;
}