.link {
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    transition: all 0.2s ease;
}


.primary {
    background-color: transparent;
    color: #4600b8;
}

.primary:hover {
    background-color: rgb(122 110 155 / 14.4%);
    color: #121118;
}

.secondary {
    background-color: transparent;
    color: #6c757d;
}

.secondary:hover {
    background-color: rgb(108 117 125 / 4%);
    color: #545b62;
}

.error {
    background-color: transparent;
    color: #dc3545;
}

.error:hover {
    background-color: rgb(220 53 69 / 4%);
    color: #bd2130;
}


.small {
    font-size: 1rem;
    padding: 0.2em 0.4em
}

.medium {
    font-size: 1.2rem;
    padding: 0.333em 0.667em;
}

.large {
    font-size: 1.5rem;
    padding: 0.4em 0.8em;
}